@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}
.heading{
    color: #111111;
    text-align: center;
    padding: 10px;
    margin: 20px;
    margin-bottom: 20px;
}
.btn-all{
    background-color: #db3d3d;
    color: #ffffff;
    text-align: center;
    border: 1px solid #EB5757;
    border-radius: 15px;
    padding: 10px;
    margin: 0px auto;
}
.detail-btn{
    background-color: #eb5757;
    color: #ffffff;
    text-align: center;
    border: 1px solid #eb5757;
    border-radius: 15px;
    margin: 0px auto;
    
}